<!--<!doctype html>-->
<!--<html>-->
<!--  <head>-->
<!--    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>-->
<!--    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>-->
<!--    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.1.1.js"></script>-->
<!--    <script type="text/javascript" src="../JS/googleStart.js"></script>-->
<!--    <script src="../JS/Controller.js"></script>-->
<!--    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">-->
<!--    <link rel="stylesheet" type="text/css" href="../CSS/yourCustomCSS.css">-->
<!--  </head>-->
  
  <div ng-app="MyApp" ng-controller="postingController">
    
    <!--Input and button area-->
    <div class="container">
      <!--Left input section starts-->
      <div class="leftPosting">
        <p class="postTitle"> Posting </p>
        <tt>User are typing: {{post.text}}</tt><br/>
        <!--<pre>posts={{posts}}</pre>-->
        <pre>Post created {{postCount}} times</pre>
        <input class="postInput" ng-model="post.text" ng-pattern="post.word"/>
        <p> </p>
        <form class="form-inline">
          <div class="buttonSection">
            <div class="createButton">
              <input type="button" class="btn btn-default" ng-class="{'btn-primary': display.inline-block}" value="Create Post" ng-click="PostCreate()" />
            </div>
            
            <div class="deleteButton">
              <input type="button" class="btn btn-default" ng-class="{'btn-primary': display.inline-block}" value="Delete Post" ng-click="PostDelete()" />
            </div>
          </div>
        </form>
      </div>
      <!--Left input section ends-->
      
      <!--Right button section starts-->
      <div class="rightPosting">
        <form>
          <input type="checkbox"  name="mediaButton" value="SocialMedia1" checked>
            <input type="button" class="btn btn-default" ng-class="{'btn-primary': display.inline-block}" value="Social media" ng-click="social1()" /><br>
          <p></p>
          <input type="checkbox" name="mediaButton" value="SocialMedia2" checked>
            <input type="button" class="btn btn-default" ng-class="{'btn-primary': display.inline-block}" value="Social media" ng-click="social2()" /><br>
          <p></p>
          <input type="checkbox" name="mediaButton" value="SocialMedia3" checked>
            <input type="button" class="btn btn-default" ng-class="{'btn-primary': display.inline-block}" value="Social media" ng-click="social3()" /><br>
        </form>
      </div>
      <!--Right button section ends-->
    </div>
    <!--Input and button area-->
  </div>
    
    
  
<!--  </body>-->
<!--</html>-->
