<!doctype html>
<html>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.1.1.js"></script>
    <script src="../JS/Controller.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../CSS/yourCustomCSS.css">
  </head>
  
  <body>
    <!--Input and button area-->
    <div class="container">
      <div class="leftPosting">
        <p class="postTitle"> {Post Title} </p>
        <p class="postTitle">Comments</p>
        <textarea id=textfield type="text" wrap="virtual"> Available tracked posts</textarea>
      </div>
      
      <div class="rightPosting">
        <form action="demo_form.asp" method="get">
          <input type="checkbox" name="vehicle" value="SocialMedia1" checked>
            <input type="button" class="btn btn-default" ng-class="{'btn-primary': display.inline-block}" value="Social media" ng-click="PostDelete()" /><br>
          <p></p>
          <input type="checkbox" name="vehicle" value="SocialMedia2" checked>
            <input type="button" class="btn btn-default" ng-class="{'btn-primary': display.inline-block}" value="Social media" ng-click="PostDelete()" /><br>
          <p></p>
          <input type="checkbox" name="vehicle" value="SocialMedia3" checked>
            <input type="button" class="btn btn-default" ng-class="{'btn-primary': display.inline-block}" value="Social media" ng-click="PostDelete()" /><br>
        </form>
      </div>
    </div>
    <!--Input and button area-->
    
  </body>

</html>