.PageHeader{
    width: 100%;
    height: 100px;
    background-color: #8ACCD1;
    white-space: nowrap;
    border-radius: 25px;
}

.dropdownMenu{
    float: left;
    padding-top: 0;
}

.tdText {
    float: left;
	font-family: "arial";
	font-size: 30px;
	font-style: italic;
	font-weight: bold;
	margin: 30px 0 0 0

}

.imageTd1 {
    margin-left: 10px;
    float: left;
    background-image: url(Images/western_Eng_Logo.png);
}

.imageTd3 {
    width: 120px;
    height: 60px;
    margin: 10px 10% 5px 0px;
    float: right;
    position: relative; 
	top: 1em;
	cursor: pointer;
	/*background-image: url(Images/login-button.png);*/

}

.bodyBackground{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../Images/Western_Background.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: 0px 100px;
}

.loginBody{
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: 0px 100px;
    
}

.btnProperty{
    font-size: 20;
    background-color: #06242E;

}


.container{
    position: absolute;
    top: 20%;
    left: 15%;
    right: 10%;
    width: 70%;
    padding-left: 0;
    margin: auto;
    text-align: center;
    /*border: 1px solid green;*/
    vertical-align: top;
}

.postTitle{
    position: relative;
    text-align: center;
    font-size: 60px;
    padding-left: 5%;
}

.postInput{
    position: relative;
    width: 300px;
    height: 150px;
    display: inline-block;
    left: 3%;
    top: 5%;
    
}

.buttonSection{
    /*position: relative;*/
    display: inline-block;
    top: 80%;
    margin: auto;
    width: 45%;
    bottom: 0;
    padding-left: 1%;
}

.createButton{
    width: 40px;
    height: 30px;
    float: left;
    top: 95%;
    vertical-align: bottom;
    margin-right: 1%;
}

.deleteButton{
    width: 40px;
    height: 30px;
    float: right;
    top: 95%;
    vertical-align: bottom;
    margin-left: 1%;
}

.leftPosting{
    float: left;
    width: 70%;
    left: 80%;
}


.rightPosting{
    float: right;
    margin: auto;
    width: 30%;
    padding-top: 12%;
}


.displayTrackedPosts{
    background-color: #FFFFFF;
    width: 300px;
    height: 300px;
    overflow: scroll;
    position: relative;
    display: inline-block;
    left: 3%;
    top: 5%;
}

#textfield{
	width:300px;
	height:200px;
	position: relative; 
	overflow: scroll;
	top:2%; 
	left:3%;
}

#customBtn {
      display: inline-block;
      background: #4285f4;
      color: white;
      width: 190px;
      height: 42px;
      border-radius: 5px;
      white-space: nowrap;
      padding-right: 42px;
    }

.googleIcon {
      background: url('https://developers.google.com/identity/sign-in/g-normal.png') transparent 5px 50% no-repeat;
      display: inline-block;
      vertical-align: middle;
      width: 42px;
      height: 42px;
      border-right: #2265d4 1px solid;
    }
    
.googleButtonArea {
      display: inline-block;
      vertical-align: middle;
      /*padding-left: 42px;*/
      padding-right: 42px;
      height: 42px;
      font-size: 14px;
      font-weight: bold;
      /* Use the Roboto font that is loaded in the <head> */
      font-family: 'Roboto', sans-serif;
      /*background: url('../client/Images/login-button.png') transparent 5px 50% no-repeat;*/
}

.gplus{
    background: transparent url('Images/login-button.png') no-repeat left top;
    padding-right: 42px;
}

.googleUserInfo {
      /*display: inline-block;*/
      position: relative;
      vertical-align: top;
      padding-left: 78px;
      padding-right: 0px;
      padding-bottom: 0px;
      margin-bottom: 0px;
      height: 42px;
      font-size: 14px;
      font-weight: bold;
      /* Use the Roboto font that is loaded in the <head> */
      font-family: 'Roboto', sans-serif;
      /*background: url('../client/Images/login-button.png') transparent 5px 50% no-repeat;*/
}

.loginPromptButton{
    height: 42px;
    width: 60px;
    background-color: transparent;
}

.googleButtonLogout {
      position: relative;
      vertical-align: bottom;
      padding-left: 48px;
      padding-right: 0px;
      padding-top: 0px;
      margin-top: 0px;
      height: 42px;
      font-size: 14px;
      font-weight: bold;
      /* Use the Roboto font that is loaded in the <head> */
      font-family: 'Roboto', sans-serif;
      /*background: url('../client/Images/login-button.png') transparent 5px 50% no-repeat;*/
}
.userInfo{
    font-weight: bold;
}